In [1]:
var1 = 2
var2 = 5.0
var3 = True
var4 = "Machine Learning"

In [2]:
print("Value of var1 :", var1)
print("Value of var2 :", var2)
print("Value of var3 :", var3)
print("Value of var4 :", var4)

Value of var1 : 2
Value of var2 : 5.0
Value of var3 : True
Value of var4 : Machine Learning

In [3]:
type( var1 )

int

In [4]:
type( var2 )

float

In [5]:
type(var3)

bool

In [6]:
type(var4)

str

 Conditional Statement

In [7]:
# Checking a condition if the variable value is more than 1
if var1 > 1:
    print( "Bigger than 1" )

Bigger than 1

In [8]:
x = 10
y = 12

# if x is greater than y
if x > y:
    print ("x > y")
# if x is lesser than y    
elif x < y:
    print ("x < y")
else:        
    print ("x = y")

x < y

In [9]:
# Initialize
x = 5

# Assign True if x is more than 10 or assign False using ternary operator
isGreater = True if x > 10 else False

In [10]:
isGreater

False

Generating Sequence Numbers

In [11]:
# Initializing the sequence of numbers starting from 1
# and ending (not including) with 6
numbers = range( 1, 6)

numbers

range(1, 6)

In [12]:
list(numbers)

[1, 2, 3, 4, 5]

In [13]:
numbers = range( 5, 15, 2)
list(numbers)

[5, 7, 9, 11, 13]

Control Flow Statement

In [14]:
# Iterate through the collection
for i in numbers:
    print (i)

5
7
9
11
13

In [15]:
# Initialize the value of 1
i = 1

# check the value of i to check if the loop will be continued or not
while i < 5:
    
    print(i)
    # Increment the value of i.
    i = i+1
    
# print after the value of i
print('Done')

1
2
3
4
Done

Functions

In [16]:
def addElements( a, b ):
    ## processing
    return a + b

In [17]:
result = addElements( 2, 3 )

result

5

In [18]:
result = addElements( 2.3, 4.5 )

result

6.8

In [19]:
result = addElements( "python", "workshop" )

result

'pythonworkshop'

In [20]:
def addElements( a, b = 4 ):
    return a + b

In [21]:
addElements( 2 )

6

In [22]:
addElements( 2, 5 )

7

In [23]:
def addElements( a, b ):
    return a + b, a - b

In [24]:
x, y = addElements(4, 3)

In [25]:
x

7

In [26]:
y

1

In [27]:
z = addElements(4, 3)

In [28]:
z[0]

7

In [29]:
z[1]

1

Working with Collections

List

In [30]:
## Create an empty list
emptyList = []

In [31]:
batsmen = ['Rohit', 'Dhawan', 'Kohli', 'Rahane', 'Rayudu', 'Dhoni']

In [32]:
batsmen[0]

'Rohit'

In [33]:
## Slicing an list
batsmen[0:2]

['Rohit', 'Dhawan']

In [34]:
## Accessing the last element
batsmen[-1]

'Dhoni'

In [35]:
batsmen[-3:]

['Rahane', 'Rayudu', 'Dhoni']

In [36]:
# how many elements in the list
len( batsmen )

6

In [37]:
bowlers = ['Bumrah', 'Shami', 'Bhuvi', 'Kuldeep', 'Chahal']

In [38]:
all_players = batsmen + bowlers

In [39]:
all_players

['Rohit',
 'Dhawan',
 'Kohli',
 'Rahane',
 'Rayudu',
 'Dhoni',
 'Bumrah',
 'Shami',
 'Bhuvi',
 'Kuldeep',
 'Chahal']

In [40]:
'Bumrah' in bowlers

True

In [41]:
'Rayudu' in bowlers

False

Finding the index of an item in the list

In [42]:
all_players.index( 'Dhoni' )

5

In [43]:
all_players.reverse()

all_players

['Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit']

Tuples

In [44]:
odiDebut = ( 'Kohli', 2008 )

In [45]:
odiDebut

('Kohli', 2008)

In [46]:
odiDebut[0]

'Kohli'

In [47]:
players = tuple( all_players )

In [48]:
players

('Chahal',
 'Kuldeep',
 'Bhuvi',
 'Shami',
 'Bumrah',
 'Dhoni',
 'Rayudu',
 'Rahane',
 'Kohli',
 'Dhawan',
 'Rohit')

Set

In [49]:
setOfNumbers = {6,1,1,2,4,5}

In [50]:
setOfNumbers

{1, 2, 4, 5, 6}

In [51]:
wc2011 = {"Dhoni", "Sehwag", "Tendulkar", "Gambhir", "Kohli", "Raina", "Yuvraj", "Yusuf"}
wc2015 = {"Dhoni", "Dhawan", "Rohit", "Rahane", "Kohli", "Raina", "Rayudu", "Jadeja"}

In [52]:
wc2011.union( wc2015 )

{'Dhawan',
 'Dhoni',
 'Gambhir',
 'Jadeja',
 'Kohli',
 'Rahane',
 'Raina',
 'Rayudu',
 'Rohit',
 'Sehwag',
 'Tendulkar',
 'Yusuf',
 'Yuvraj'}

In [53]:
wc2011.intersection( wc2015 )

{'Dhoni', 'Kohli', 'Raina'}

In [54]:
wc2015.difference( wc2011 )

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

In [55]:
wc2015 - wc2011

{'Dhawan', 'Jadeja', 'Rahane', 'Rayudu', 'Rohit'}

Dictionary

In [56]:
wcWinners = { 1975: "West Indies", 
              1979: "West Indies", 
              1983: "India",
              1987: "Australia",
              1991: "Pakistan",
              1996: "Srilanka",
              1999: "Australia",
              2003: "Australia",
              2007: "Australia",
              2011: "India"}

In [57]:
wcWinners[1983]

'India'

In [58]:
wcWinners.values()

dict_values(['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Srilanka', 'Australia', 'Australia', 'Australia', 'India'])

In [59]:
set(wcWinners.values())

{'Australia', 'India', 'Pakistan', 'Srilanka', 'West Indies'}

In [60]:
wcWinners[2015] = 'Australia'

In [61]:
wcWinners

{1975: 'West Indies',
 1979: 'West Indies',
 1983: 'India',
 1987: 'Australia',
 1991: 'Pakistan',
 1996: 'Srilanka',
 1999: 'Australia',
 2003: 'Australia',
 2007: 'Australia',
 2011: 'India',
 2015: 'Australia'}

Dealing with Strings

In [62]:
string0 = 'python'
string1 = """machine" learning"""

In [63]:
string2 = """This is a 
 multiline string"""

In [64]:
# Converting to upper case
string0.upper()
# Similarly string.lower() can be used to convert to lower case.
# string0.lower()

'PYTHON'

In [65]:
tokens = string1.split()
tokens

['machine"', 'learning']

Functional Programming

Example 1 : Map

In [66]:
intList = [1,2,3,4,5,6,7,8,9]

In [67]:
# Create an empty list.
squareList = []

# Loop through the intList, square every item and append to result list squareList.
for x in intList:
    squareList.append( pow( x, 2 ) )

print( squareList )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
def square_me( x ):
    return x * x

In [69]:
squareList = map( square_me, intList)

In [70]:
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
squareList = map(lambda x: x*x, intList)
list(squareList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
squareList = [x*x for x in intList]

Example : 2

In [73]:
evenInts = filter( lambda x : x % 2 == 0, intList )

In [74]:
list( evenInts )

[2, 4, 6, 8]

In [75]:
evenInts = [x for x in intList if x%2==0]

In [76]:
evenInts

[2, 4, 6, 8]

Modules and Packages

In [77]:
import math

## Taking square root of a value
math.sqrt(16)

4.0

In [78]:
from random import sample

In [79]:
sample( range(0, 11), 3)

[9, 1, 0]

Other Features

In [80]:
import random 

randomList = random.sample( range(0, 100), 20)

randomList

[89, 90, 74, 1, 20, 10, 15, 26, 31, 94, 52, 96, 38, 21, 50, 25, 51, 36, 85, 13]

In [81]:
from statistics import mean, median

def getMeanAndMedian( listNum ):
    return mean(listNum), median(listNum)

In [82]:
mean, median = getMeanAndMedian( randomList )

In [83]:
print( "Mean: ", mean, " Median: ", median)

Mean:  45.85  Median:  37.0